.login{
    text-align: center;
}
.login button{
    padding: 15px 35px;
    border: 2px solid transparent;
    background: tomato;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}
.login button:hover{
    background: white;
    color: tomato;
    box-shadow: 0px 0px 10px rgba(235, 22, 22, 0.5);
}